<div class='row'>

    <div class='col-sm-8' >
        <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <a href ='' class='btn-warning'>Edit</a>
        <a href ='' class='btn-warning'>Delete</a>
      </td>
    </tr>
    </div>
</div>