{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footcap - Find your footware</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="
  {% static '/favicon.svg' %}" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static '/css/style.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">

  <!-- 
    - preload banner
  -->
  <link rel="preload" href="{% static /images/hero-banner.png}%" as="image">

  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
  <!-- Semantic UI theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/semantic.min.css"/>

{% block css2 %}



    
{% endblock css2 %}
    

</head>

<body id="top">

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <div class="overlay" data-overlay></div>

      <a href="#" class="logo">
        <img src="{% static '/images/logo.svg' %}" width="160" height="50" alt="Footcap logo">
      </a>

      <button class="nav-open-btn" data-nav-open-btn aria-label="Open Menu">
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <a href="#" class="logo">
          <img src="{% static '/images/logo.svg'%}" width="190" height="50" alt="Footcap logo">
        </a>

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{% url 'home' %}" class="navbar-link">Home</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'about' %}" class="navbar-link">About</a>
          </li>

         

          <li class="navbar-item">
            <a href="{% url 'shop' %}" class="navbar-link">Shop</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'orders' %}" class="navbar-link">Orders</a>
          </li>

          <li class="navbar-item">
            <a href="{% url 'contact'%}" class="navbar-link">Contact</a>
          </li>

        </ul>

        <ul class="nav-action-list">

          <li>
            <button class="nav-action-btn">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>

              <span class="nav-action-text">Search</span>
            </button>
          </li>

          <li>
            

            <div class="dropdown">
              <a href="#" class="nav-action-btn">
                <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
                <h6>{{user.username}}</h6>
              <button class="dropbtn">
                <i class="fa fa-caret-down"></i>
              </button>
              <div class="dropdown-content">
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                {% else%}
                <a href="{% url 'register' %}">Register</a>
                <a href="{% url 'login' %}">Login</a>
                {% endif %}
               
              </div>
            </div>
          
        
        </li>
        

          <li>
            <a href="{% url 'cart' %}">
            <button class="nav-action-btn">
              <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>

           

            
            </button>
          </a>
          </li>

        </ul>

      </nav>

    </div>
  </header>
  {% block css %}


  {% endblock css%}

  <style>
   
    .dropdown {
      float: left;
      overflow: hidden;
    }
    




    
    .dropdown .dropbtn {
      font-size: 16px;  
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit;
      margin: 0;
    }
    
    .navbar a:hover, .dropdown:hover .dropbtn {
      background-color: rgb(248, 245, 245);
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      float: none;
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
    }
    
    .dropdown-content a:hover {
      background-color: #ddd;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }
    .section{
      background-image: url('./assets/images/hero-banner.png')
    }
    </style>


  <main>
    <article>

      <!-- 
        - #HERO
      -->

      




      <!-- 
        - #COLLECTION
      -->

     
         
<!--------------------------------body---------------------------------------------------------------->


{% block body %}
    
{% endblock body %}
    



<!------------------body----------------------------------->
{% comment %} <section class="section cta">
    <div class="container">

      <ul class="cta-list">

        <li>
          <div class="cta-card" style="background-image: url('{% static "/images/cta-1.jpg" %}')">
            <p class="card-subtitle">Adidas Shoes</p>

            <h3 class="h2 card-title">The Summer Sale Off 50%</h3>

            <a href="#" class="btn btn-link">
              <span>Shop Now</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

        <li>
          <div class="cta-card" style="background-image: url('{% static "/images/cta-2.jpg" %}')">
            <p class="card-subtitle">Nike Shoes</p>

            <h3 class="h2 card-title">Makes Yourself Keep Sporty</h3>

            <a href="{% url 'shop'%}" class="btn btn-link">
              <span>Shop Now</span>

              <ion-icon name="arrow-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </div>
        </li>

      </ul>

    </div>
  </section>





  <!-- 
    - #SPECIAL
  --> {% endcomment %}

  
</article>
</main>





<!-- 
- #FOOTER
-->

<footer class="footer">

<div class="footer-top section">
  <div class="container">

    <div class="footer-brand">

      <a href="#" class="logo">
        <img src="{% static '/images/logo.svg'%}" width="160" height="50" alt="Footcap logo">
      </a>

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

    <div class="footer-link-box">

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">Contact Us</p>
        </li>

        <li>
          <address class="footer-link">
            <ion-icon name="location"></ion-icon>

            <span class="footer-link-text">
              2751 S Parker Rd, Aurora, CO 80014, United States
            </span>
          </address>
        </li>

        <li>
          <a href="tel:+557343673257" class="footer-link">
            <ion-icon name="call"></ion-icon>

            <span class="footer-link-text">+557343673257</span>
          </a>
        </li>

        <li>
          <a href="mailto:footcap@help.com" class="footer-link">
            <ion-icon name="mail"></ion-icon>

            <span class="footer-link-text">footcap@help.com</span>
          </a>
        </li>

      </ul>

      <ul class="footer-list">

        <li>
          <p class="footer-list-title">My Account</p>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>

            <span class="footer-link-text">My Account</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>

            <span class="footer-link-text">View Cart</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>

            <span class="footer-link-text">Wishlist</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>

            <span class="footer-link-text">Compare</span>
          </a>
        </li>

        <li>
          <a href="#" class="footer-link">
            <ion-icon name="chevron-forward-outline"></ion-icon>

            <span class="footer-link-text">New Products</span>
          </a>
        </li>

      </ul>

      <div class="footer-list">

        <p class="footer-list-title">Opening Time</p>

        <table class="footer-table">
          <tbody>

            <tr class="table-row">
              <th class="table-head" scope="row">Mon - Tue:</th>

              <td class="table-data">8AM - 10PM</td>
            </tr>

            <tr class="table-row">
              <th class="table-head" scope="row">Wed:</th>

              <td class="table-data">8AM - 7PM</td>
            </tr>

            <tr class="table-row">
              <th class="table-head" scope="row">Fri:</th>

              <td class="table-data">7AM - 12PM</td>
            </tr>

            <tr class="table-row">
              <th class="table-head" scope="row">Sat:</th>

              <td class="table-data">9AM - 8PM</td>
            </tr>

            <tr class="table-row">
              <th class="table-head" scope="row">Sun:</th>

              <td class="table-data">Closed</td>
            </tr>

          </tbody>
        </table>

      </div>

      <div class="footer-list">

        <p class="footer-list-title">Newsletter</p>

        <p class="newsletter-text">
          Authoritatively morph 24/7 potentialities with error-free partnerships.
        </p>

        <form action="" class="newsletter-form">
          <input type="email" name="email" required placeholder="Email Address" class="newsletter-input">

          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>

      </div>

    </div>

  </div>
</div>

<div class="footer-bottom">
  <div class="container">

    <p class="copyright">
      &copy; 2022 <a href="#" class="copyright-link">daniyajose</a>. All Rights Reserved
    </p>

  </div>
</div>

</footer>





<!-- 
- #GO TO TOP
-->

<a href="#top" class="go-top-btn" data-go-top>
<ion-icon name="arrow-up-outline"></ion-icon>
</a>





<!-- 
- custom js link
-->
<script src="{% static '/js/script.js' %}"></script>



<!-- 
- ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% block scripts %}
    
{% endblock scripts %}

<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
     

  <script>
   alertify.set('notifier','position', 'top-right');

   {% for msg in messages %}

   alertify.success('{{msg}}' );  
   {% endfor %}
      

   
  
  </script>

  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script src="{% static '/js/jquery-3.6.4.min.js' %}"></script>
  <script src="{% static '/js/checkout.js' %}"></script>

  <!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/6453585e4247f20fefef418c/1gvip2cr0';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
</body>

</html>