{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title> Login</title>

</head>
<style>
   

</style>
<body>

   <nav>

    {% load static %}

  </header>
   </nav>
   <div class="box">
    <form action="" method="post">
        {% csrf_token %}
    <div class="container">

        <div class="top">
            <span>Have an account?</span>
            <header>Sing Up</header>
        </div>
        

        <div class="input-field">
            <input type="text" class="input" placeholder="Username" id="" name="username">
            <i class='bx bx-user' ></i>
        </div>

        <div class="input-field">
            <input type="email" class="input" placeholder="email" id="" name="email">
            <i class='bx bx-user' ></i>
        </div>

        <div class="input-field">
            <input type="Password" class="input" placeholder="Password" id="" name="password">
            <i class='bx bx-lock-alt'></i>
        </div>

        <div class="input-field">
            <input type="submit" class="submit" value="Sing Up" id="">
        </div>

        <div class="two-col">
            <div class="one">
               <input type="checkbox" name="" id="check">
                {% for message in messages %}
                <h3>{{message}}</h3>
                
                    {% endfor %}</label>
            </div>
            <div class="two">
                <label><a href="{% url 'login' %}">login</a></label>
            </div>
        </div>
    </div>
</form>
<div>
   
</div>
</div>  
</body>
</html>